node-red-data/.config*
node-red-data/node_modules
.idea/
node-red-data/.flows.json.backup
node-red-data/package-lock.json

kafka-data/
zookeeper-data/
mosquitto-data/
.vscode/c_cpp_properties.json

target/

iot/contiki/rpl-border-router/obj_cooja/
iot/contiki/mqtt-demo/obj_cooja/
